body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.formulario {
  width: 80vw;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
  color: #003366;
  font-size: 1.8rem;
}
.containerdiv {
  display: flex;
  justify-content: center;
  margin: 50px;
  align-items: center;
}
.formulario input,
.formulario textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccd6e0;
  font-size: 1rem;
  background: #f8fbff;
  transition: 0.2s;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #007bff;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

textarea {
  max-width: 70vw;
  min-width: 20vw;
  min-height: 5vw;
  max-height: 10vw;
}

.linha-campos {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.cadastro_avaliacao {
  width: 21vw;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.anonimo {
  display: flex;
  border: 1px solid #ccd6e0;
  padding: 8px;
  border-radius: 10px;
  width: 200px;
  margin: 10px auto;
  background: #f0f8ff;
}

.anonimo label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  color: #003366;
  cursor: pointer;
  justify-content: center;
}

.anonimo input[type="checkbox"] {
  align-self: center;
  margin: 0;
  vertical-align: middle;
}

.estrelas span {
  font-size: 32px;
  cursor: pointer;
  color: #ccc;
  display: inline-block;
  transition: 0.2s;
}

.estrelas span:hover {
  transform: scale(1.2);
}

.estrelas span.selected {
  color: #ffc107;
}

#listaAvaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card {
  border: none;
  padding: 15px;
  margin-top: 12px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s;
  color: #003366;
  line-height: 1.5;
  width: 80vw;
  margin-bottom: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
